.entete_header {
	background-image: url("images/logo-avion-bg.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

@media screen and (max-width: 768px) {
	.hero {
		background-position: 50% 50%;
	}
}