* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Montserrat", sans-serif;
}

.global {
	display: flex;
	justify-content: center;
}

.global > section,
.global > header,
.global > footer {
	flex: 0 1 1100px;
	// border: 1px solid #aaa;
	padding: 3rem 1rem;
	// background-color: rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, var(--transparence-section));
}

// Définition des largeurs
// .global > .menu_header
.global > section,
.global > footer {
	min-width: var(--largeur-section);
}
// .global > footer {
// 	min-width: var(--largeur-footer);
// }
section, footer {
	min-height: 50vh;
}

// Ajout d'un clamp pour le p
p {
	color: black;
	padding: 2rem;
	font-size: clamp(1rem, 0.773rem + 0.606vw, 1.5rem);
	font-style: italic;
	margin-top: 2rem;
}

#menu {
	color: $--clr-texte-blanc;
	position: relative;
}

// Définition des background color
#entete {
	color: $--clr-texte-blanc;
	position: relative;
}
#accueil {
	background-color: $--clr-bleu-fonce;
	color: $--clr-texte-blanc;
}
#categories {
	background-color: $--clr-bleu-fonce;
	color: $--clr-texte-blanc;
	z-index: 1;
}
#galerie {
	background-color: $--clr-bleu-fonce;
	color: $--clr-texte-blanc;
	position: relative;
}
#footer {
	background-color: $--clr-bleu-pale;
	color: $--clr-texte-blanc;
}

// @media screen and (max-width: 768px) {
// 	.global > header {
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 	}
// }
