* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Kode Mono", monospace;
}

.global {
	display: flex;
	justify-content: center;
}

.global > section,
.global > header,
.global > footer {
	flex: 0 1 1100px;
	// border: 1px solid #aaa;
	padding: 3rem 1rem;
	// background-color: rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, var(--transparence-section));
}

// Définition des largeurs
.global > .hero {
	// min-width: var(--largeur-header);
	flex: 1;
}
.global > section,
.global > footer {
	min-width: var(--largeur-section);
}
// .global > footer {
// 	min-width: var(--largeur-footer);
// }
section, footer {
	min-height: 50vh;
}

// Ajout d'un clamp pour le p
p {
	color: black;
	padding: 2rem;
	font-size: clamp(1rem, 0.773rem + 0.606vw, 1.5rem);
	font-style: italic;
	margin-top: 2rem;
}

#menu {
	position: relative;
	background-color: var(--couleur-arriere-menu);
}

// Définition des background color
#entete {
	background-color: var(--couleur-arriere-entete);
	color: var(--couleur-entete);
	position: relative;
}
#accueil {
	background-color: var(--couleur-arriere-accueil);
	color: var(--couleur-accueil);
}
#evenement {
	background-color: var(--couleur-arriere-accueil);
	color: var(--couleur-evenement);
	z-index: 1;
}
#galerie {
	background-color: var(--couleur-arriere-galerie);
	color: var(--couleur-galerie);
	position: relative;
}
#footer {
	background-color: var(--couleur-arriere-footer);
	color: var(--couleur-footer);
}

// @media screen and (max-width: 768px) {
// 	.global > header {
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 	}
// }
