:root {
	// --couleur-arriere-entete: #e10b0b;
    // --couleur-arriere-accueil: #faff18;
    // --couleur-arriere-evenement: rgb(30 102 120);
    // --couleur-arriere-galerie: #ffffff;
    // --couleur-arriere-footer: #000;

	// Calcul des teintes
	--u1: 225; // couleur initiale
	--u2: calc(var(--u1) + 180); // couleur complémentaire
	--u3: calc(var(--u2) - 30); // couleur analogue gauche
	--u4: calc(var(--u2) + 30); // couleur analogue droite

	// Saturation et luminosité
	--s-arriere: 100%;
	--s-avant: 50%;
	--l-arriere: 30%;
	--l-avant: 20%;

	// Couleurs monochromes

	// Couleur arrière plan - Background color
	--couleur-arriere-entete: hsl(var(--u1), 100%, 70%);
    --couleur-arriere-accueil: hsl(var(--u1), 100%, 75%);
    // --couleur-arriere-evenement: hsl(var(--u1), 100%, 80%);
    // --couleur-arriere-galerie: hsl(var(--u1), 100%, 85%);
    --couleur-arriere-footer: hsl(var(--u1), 100%, 70%);

	// Pour que la diagonale soit entièrement visible
	--couleur-arriere-evenement: var(--couleur-arriere-accueil);
    --couleur-arriere-galerie: var(--couleur-arriere-accueil);

	// Couleur avant plan - Color
	--couleur-entete: hsl(var(--u3), 100%, 30%);
    --couleur-accueil: hsl(var(--u3), 100%, 35%);
    --couleur-evenement: hsl(var(--u3), 100%, 35%);
    --couleur-galerie: hsl(var(--u3), 100%, 35%);
    --couleur-footer: hsl(var(--u3), 100%, 35%);

	// Couleur bouton
	--couleur-bouton-1: rgb(32, 23, 124);
	--couleur-bouton-2: rgb(87, 83, 124);
	--couleur-bouton-3: rgb(113, 113, 118);

	// // Niveau de transparence des h
	// --transparence-h1: 0.5;
	// --transparence-h2: 0.45;
	// --transparence-h3: 0.4;
	// --transparence-h4: 0.35;
	// --transparence-h5: 0.3;
	// --transparence-h6: 0.25;

	// // Niveau de transparence des sections
	// --transparence-section: 0.1;

	// Largeur des zones centrales
	--largeur-header: 90vw;
	--largeur-section: 75vw;
	--largeur-footer: 50vw;

	// --_couleur-arriere: hsl(var(--u1), 100%, 85%);
}

.carte {
	--_couleur-arriere: hsl(var(--u1), 100%, 85%);
}