:root {
	--couleur-arriere-entete : #ca6f6f;
	--couleur-arriere-accueil : #0f0;
	--couleur-arriere-evenement : rgb(30, 189, 228);
	--couleur-arriere-galerie : #045;
	--couleur-arriere-footer : #630;
}