.destinations, .categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1rem;
}

.carte {
	display: flex;
    flex-direction: column;
    justify-content: center;
   // align-items: center;
   // text-align: center;
    flex: 1  0 calc(900px/4);
    border : 1px solid $--clr-bleu-pale;
    background-color: $--clr-bleu-tres-pale;
    padding: 1rem;
}

.carte p {
	text-align: center;
	flex-wrap: wrap;
	color: $--clr-texte-blanc;
}

.carte a {
	text-decoration: none;
    color: $--clr-orange-leger;
}

.carte a:hover {
	text-decoration: underline;
}

.carte h3 {
	text-align: center;
	flex: 1 1 auto;
	flex-wrap: wrap;
}

.post-categories {
	display: flex;
	list-style-type: none;
	gap: 0.5rem;
}
