// Feuille de style du menu principal
.menu-principal-container {
    transform: translateX(-250%);
    transition: transform 0.5s ease-in-out;
    @media (min-width: 768px) {
        transform: translateX(0);
    }
}

.menu {
    // ul
    flex-direction: column;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
}

.menu-item {
    // li
    flex: 1 0 50px;
    list-style-type: none;
}

// Gestion label #burger, l'image svg est contenu dans un label
#burger {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;

    @media (min-width: 768px) {
        display: none;
    }
}

#chk-burger {
    display: none;
}

#chk-burger:checked ~ .menu-principal-container{
    transform: translateX(0);
}