// Feuille de style du menu principal
.menu-principal-container {
    transform: translateX(500%);
    transition: transform 0.5s ease-in-out;
    @media (min-width: 768px) {
        transform: translateX(0);
    }
}

.menu {
    // ul
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    @media (min-width: 768px) {
        align-items: flex-start;
        flex-direction: row;
        list-style-type: none;
    }
}

.menu_header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 3rem;
}

.menu-item {
    // li
    flex: 1 0 50px;
    list-style-type: none;
    text-decoration: none;
    padding-left: 2rem;
}

#menu .menu_header nav a {
    text-decoration: none;
}

// Gestion label #burger, l'image svg est contenu dans un label
#burger {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;

    @media (min-width: 768px) {
        display: none;
    }
}

#chk-burger {
    display: none;
}

#chk-burger:checked ~ .menu-principal-container{
    transform: translateX(0);
}